/*I made this font on https://fontstruct.com/ years ago!*/

@font-face {
    font-family: 'retro';
    src: url('../font/retro.woff2') format('woff2'),
         url('../font/retro.woff') format('woff');
}

*{
    box-sizing: border-box;
}

/*
    I'm using the following formula (I found it online and used it previously 
    on my webpage) because it scales well to different resolutions, and I don't 
    want the formatting getting wrecked if the user zooms in or resizes:
    calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
*/

body{
    font-family: 'retro';
    font-size: calc(8px + (64 - 8) * ((100vw - 300px) / (3840 - 300)));
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

#header{
    width: 100%;
    font-size: calc(16px + (96 - 16) * ((100vw - 300px) / (3840 - 300)));
    background-color: #b21030;
}

#subHeader{
    width: 100%;
    font-size: calc(12px + (80 - 12) * ((100vw - 300px) / (3840 - 300)));
    background-color: #2800ba;
}

#table{
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
}

#info, #gameEl{
    border: 8px dotted #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#gameEl{
    border-left: none;
}

#reagan, #headerPic{
    margin: 1vw auto;
    width: 20vw;
}

#reagan img, #headerPic img{
    width: 100%;
}

#score{
    width: 100%;
    border-top: 8px dotted #ffffff;
}

#scoreRow{
    display: flex;
    flex-direction: row;
}

#scoreRow div{
    width: 50%;
}

#wins{
    border-right: 8px dotted #ffffff;
}


