:root {
    /* font size dynamic vars */
    --font-size-s: 1rem;
    --font-size-m: 1.2rem;
    --font-size-l: 1.4rem;
}
  
/* 560px */
@media screen and (min-width: 35rem) {
    :root {
      --font-size-s: 1.3rem;
      --font-size-m: 1.6rem;
      --font-size-l: 1.9rem;
    }
}
  
/* 1616px */
@media screen and (min-width: 101rem) {
    :root {
      --font-size-s: 2rem;
      --font-size-m: 2.3rem;
      --font-size-l: 2.6rem;
    }
}

/* 1920px */
@media screen and (min-width: 120rem) {
    :root {
      --font-size-s: 2.1rem;
      --font-size-m: 2.4rem;
      --font-size-l: 2.7rem;
    }
}
  
/* 2400px */
@media screen and (min-width: 150rem) {
    :root {
      --font-size-s: 2.7rem;
      --font-size-m: 3rem;
      --font-size-l: 3.3rem;
    }
}

/*I made this font on https://fontstruct.com/ years ago!*/

@font-face {
    font-family: 'retro';
    src: url('../font/retro.woff2') format('woff2'),
         url('../font/retro.woff') format('woff');
}

*{
    box-sizing: border-box;
}

body{
    font-family: 'retro';
    font-size: var(--font-size-s);
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

#header{
    width: 100%;
    font-size: var(--font-size-l);
    background-color: #b21030;
}

#subHeader{
    width: 100%;
    font-size: var(--font-size-m);
    background-color: #2800ba;
}

#table{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}

#info, #gameEl{
    border: 8px dotted #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#info {
    padding: calc(var(--font-size-s)/3);
}

#gameEl{
    border-left: none;
}

#reagan, #headerPic{
    margin: 1% auto;
    width: 40%;
}

#reagan img, #headerPic img{
    width: 100%;
}

#score{
    width: 100%;
    border-top: 8px dotted #ffffff;
}

#scoreRow{
    display: flex;
    flex-direction: row;
}

#scoreRow div{
    width: 50%;
}

#wins{
    border-right: 8px dotted #ffffff;
}

#virtualKeys > div {
    display: flex;
    justify-content: center;
}

.key, #startGame, #startRound {
    border: 2px solid #fff;
    border-radius: 6px;
    padding: calc(var(--font-size-s)/3);
    margin: calc(var(--font-size-s)/5);
    cursor: pointer;
}

.key:active, #startGame:active, #startRound:active {
    transform: translate(0, 2px);
}